{% extends 'base.html' %} {% load static %}
<!--  -->
{% block title %}Latest News in
<!--  -->
{{ current_category|title }}{% endblock %}
<!--  -->
{% block content %}
<h1 class="text-center mb-5">Latest News in {{ current_category|title }}</h1>
<div class="row">
  {% for article in articles %}
  <div class="col-md-6">
    <div class="card news-card">
      {% if article.urlToImage %}
      <img
        src="{{ article.urlToImage }}"
        class="card-img-top"
        onerror="this.src='https://via.placeholder.com/150';"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="news-title">{{ article.title }}</h5>
        {% if article.description %}
        <p class="news-description">{{ article.description }}</p>
        {% endif %} {% if article.source.name %}
        <p class="news-source">Source: {{ article.source.name }}</p>
        {% endif %} {% if article.author %}
        <p class="news-author" style="float: right">
          Author: {{ article.author|truncatechars:10 }}
        </p>
        {% endif %}
        <p class="news-date">Published on: {{ article.publishedAt }}</p>
        <a href="{{ article.url }}" class="btn btn-primary" target="_blank"
          >Read more</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
